---
---
ErrorDocument 404 /strathjazz/404/
ErrorDocument 500 {{site.staticurl}}/500.html
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} !^{{site.domain}}$ [NC]
RewriteRule ^(.*)$ http://{{site.domain}}/$1 [R=301,L]
</IfModule>
